<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagem/png" href="imagem/icon-msports.jpg">

    <!-- Link Responsives CSS's-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" media="screen and (min-width: 535px) and (max-width: 768px)" href="css/small.css">
    <link rel="stylesheet" media="screen and (max-width: 534px)" href="css/verysmall.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1024px)" href="css/medium.css">
    <!-- End Responsives CSS's-->

    <!-- Link CSS's of Mains, Sections, etc. -->

    <link rel="stylesheet" href="css/codes/sessoes.css">
    <link rel="stylesheet" href="css/codes/nav-bar.css">
    <link rel="stylesheet" href="css/codes/footer.css">
    <link rel="stylesheet" href="css/codes/profile.css">
    <link rel="stylesheet" href="css/codes/alter.css">

    <!-- Others Links -->

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2310003761562398"
        crossorigin="anonymous"></script>

    <title>+Sports</title>
</head>

<body>

    <%- include("../partial/header-home", {email: email}) %>
        <!--    Utilize "document.write(localStorage.getItem("name"));" para mostrar os dados digitados no cadastro    -->

        <section class="infos">
            <h2>Minha conta</h2>
        </section>

        <section class="historico">
            <section class="account-alter">
                <section class="nog">
                    <ul class="desc">
                        <li>
                            <% if (email) { %> <!-- Verifica se o usuário está logado -->
                                <% if (cep> 0000 ) { %> <!-- Verifica se o CEP está disponível -->
                                    <h2 class="lr">Seu CEP cadastrado:</h2>
                                    <form method="get" action="/guardarCEP">
                                        <section class="form-group">
                                            <label for="cep">
                                                <h3 class="lr">Digite seu CEP</h3>
                                                <input class="input-form" name="cep" type="text" id="cep"
                                                    placeholder="<%= cep %>" size="10" value="<%= cep %>"
                                                    onblur="pesquisacep(this.value);" onkeyup="mascaraCEP(event)"
                                                    maxlength="9" />
                                            </label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Rua:</h3>
                                            <label for="rua">
                                                <input class="input-form" name="rua" type="text" id="rua" size="60" />
                                            </label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Número da residência:</h3>
                                            <label for="numero">
                                                <input class="input-form" name="numero" type="text" id="numero"
                                                    size="60" placeholder="<%= numero %>" value="<%= numero %>" />
                                            </label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Bairro:</h3>
                                            <label for="bairro">
                                                <input class="input-form" name="bairro" type="text" id="bairro"
                                                    size="40" />
                                            </label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Cidade:</h3>
                                            <label for="cidade">
                                                <input class="input-form" name="cidade" type="text" id="cidade"
                                                    size="40" />
                                            </label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Estado:</h3>
                                            <label for="estado">
                                                <input class="input-form" name="uf" type="text" id="uf" size="2" />
                                            </label><br />
                                        </section>
                                        <button type="submit" class="btn btn-primary" id="save-btn">Editar
                                            endereço</button>
                                        <form action="/delCEP" method="post">
                                            <button type="submit">excluir endereço</button>
                                        </form>
                                    </form>
                                    <% } else { %> <!-- Se o CEP não estiver disponível -->
                                        <h2 class="lr">Adicionar endereço:</h2>
                                        <form method="get" action="/guardarCEP">
                                            <section class="form-group">
                                                <label for="cep">
                                                    <h3 class="lr">Digite seu CEP</h3>
                                                    <input class="input-form" name="cep" type="text" id="cep"
                                                        placeholder="CEP" size="10" onblur="pesquisacep(this.value);"
                                                        onkeyup="mascaraCEP(event)" maxlength="9" />
                                                </label><br />
                                            </section>
                                            <section class="form-group">
                                                <h3 class="lr">Rua:</h3>
                                                <label for="rua">
                                                    <input class="input-form" name="rua" type="text" id="rua"
                                                        size="60" />
                                                </label><br />
                                            </section>
                                            <section class="form-group">
                                                <h3 class="lr">Número da residência:</h3>
                                                <label for="numero">
                                                    <input class="input-form" name="numero" type="text" id="numero"
                                                        size="60" />
                                                </label><br />
                                            </section>
                                            <section class="form-group">
                                                <h3 class="lr">Bairro:</h3>
                                                <label for="bairro">
                                                    <input class="input-form" name="bairro" type="text" id="bairro"
                                                        size="40" />
                                                </label><br />
                                            </section>
                                            <section class="form-group">
                                                <h3 class="lr">Cidade:</h3>
                                                <label for="cidade">
                                                    <input class="input-form" name="cidade" type="text" id="cidade"
                                                        size="40" />
                                                </label><br />
                                            </section>
                                            <section class="form-group">
                                                <h3 class="lr">Estado:</h3>
                                                <label for="estado">
                                                    <input class="input-form" name="uf" type="text" id="uf" size="2" />
                                                </label><br />
                                            </section>
                                            <button type="submit" class="btn btn-primary" id="save-btn">Salvar
                                                endereço</button>
                                        </form>


                                        <% } %>
                                            <% } else { %> <!-- Se o usuário não estiver logado -->
                                                <h2>Logue para acessar suas informações!</h2>
                                                <% } %>
                        </li>
                    </ul>
                </section>
                <section class="nog">
                    <ul class="desc">
                        <li>
                            <% if (email) { %> <!-- Verifica se o usuário está logado -->
                                <% if (celular> 0000 ) { %> <!-- Verifica se o CEP está disponível -->
                                    <h2 class="lr">Seu número cadastrado:</h2>
                                    <form method="get" action="/guardarCelular">
                                        <section class="form-group">
                                            <label for="celular">
                                                <h3 class="lr">Digite seu Número de telefone</h3>
                                                <input class="input-form" name="celular" type="text" id="celular"
                                                    placeholder="<%= celular %>" size="11" value="<%= celular %>"
                                                    maxlength="11" />
                                            </label><br />
                                        </section>
                                        <section class="form-group">
                                            <h3 class="lr">Celular:</h3>
                                            <label for="celular">
                                                <input class="input-form" name="celular" type="text" id="celular"
                                                    size="11" />
                                            </label><br />
                                        </section>
                                        <button type="submit" class="btn btn-primary" id="save-btn">Editar
                                            Número</button>
                                        <form action="/delcelular" method="post">
                                            <button type="submit">Excluir Número</button>
                                        </form>
                                    </form>
                                    <% } else { %> <!-- Se o celular não estiver disponível -->
                                        <h2 class="lr">Adicionar número de telefone:</h2>
                                        <form method="get" action="/guardarCelular">
                                            <section class="form-group">
                                                <label for="celular">
                                                    <h3 class="lr">Digite seu celular</h3>
                                                    <input class="input-form" name="celular" type="text" id="celular"
                                                        placeholder="celular" size="10" maxlength="11" />
                                                </label><br />
                                            </section>
                                            <button type="submit" class="btn btn-primary" id="save-btn">Salvar
                                                número</button>
                                        </form>


                                        <% } %>
                                            <% } else { %> <!-- Se o usuário não estiver logado -->
                                                <h2>Logue para acessar suas informações!</h2>
                                                <% } %>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
        </section>


        <%- include("../partial/footer") %>

</body>
<script src="js/script.js"></script>
<script src="js/cep-api.js"></script>

</html>