<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagem/png" href="/imagem/icon-msports.jpg">

    <!-- Link Responsives CSS's-->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" media="screen and (min-width: 535px) and (max-width: 768px)" href="/css/small.css">
    <link rel="stylesheet" media="screen and (max-width: 534px)" href="/css/verysmall.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1024px)" href="/css/medium.css">
    <!-- End Responsives CSS's-->

    <!-- Link CSS's of Mains, Sections, etc. -->

    <link rel="stylesheet" href="/css/codes/sessoes.css">
    <link rel="stylesheet" href="/css/codes/interface.css">
    <link rel="stylesheet" href="/css/codes/tendencia.css">
    <link rel="stylesheet" href="/css/codes/categorias.css">
    <link rel="stylesheet" href="/css/codes/product-page.css">
    <link rel="stylesheet" href="/css/codes/nav-bar.css">
    <link rel="stylesheet" href="/css/codes/footer.css">
    <link rel="stylesheet" href="/css/codes/buttons.css">
    <link rel="stylesheet" href="/css/codes/cart.css">


    <!-- Others Links -->

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2310003761562398"
     crossorigin="anonymous"></script>

    <title>+Sports</title>
</head>


<link rel="stylesheet" href="/css/codes/footer.css">

<body>

    <%- include("../partial/header-home", {email: email }) %>

        <main>

            

            <section class="container-product">
                <section class="container">
                    <section class="card">
                        <section class="product-card">
                            <% product.imagens.forEach(function(imagem, index) { %>
                                <img class="MainImg" src="/uploads/<%= imagem %>" alt="Imagem <%= index + 1 %> do produto">
                            <% }); %>
                            
                        </section>

                        <section class="carousel-container">
                            <section class="carousel">
                                <% product.imagens.forEach(function(imagem, index) { %>
                                    <section class="item active">
                                        <img class="MainImg" src="/uploads/<%= imagem %>" alt="Imagem <%= index + 1 %> do produto">
                                    </section>
                                    
                                <% }); %>
                                
                            </section>
                            <button class="btn prev"><i class="bi bi-caret-left"></i></button>
                            <button class="btn next"><i class="bi bi-caret-right"></i></button>
                            <section class="dots">
                            </section>
                        </section>
                        <section class="product-info">

                            <section class="title-prod">
                                <h3><%= product.titulo_prod %></h3>
                                <p>Casual</p>
                            </section>
                            <section class="ratting-prod">
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <p>sem avalições</p>
                            </section>

                            <section class="price">
                                <p>R$ <%= product.valor_prod %> no Pix <br>ou <span>6x</span> de <span>R$:119,98</span></p>
                            </section>


                            <!-- Fotos das otras colorways/variantes do produto -->
                            <section class="mini-imgs">
                                <section class="mini-pics-product">
                                    <img class="select-prod"
                                        src="/uploads/<%= product.imagens[0] %>" alt="">
                                </section>
                            </section>
                            <!-- Seleção de tamanhos  -->
                            <h2 class="tam-inf"><span>Tamanho</span></h2>
                            <section class="tamanhos">
                                <section class="tam">
                                    <section class="num-tam">
                                        <p>36</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>37</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>38</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>39</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>41</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>40</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>42</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>43</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>44</p>
                                    </section>
                                    <section class="num-tam">
                                        <p>45</p>
                                    </section>
                                </section>
                            </section>
                            <!-- descrição -->
                            <section class="descricao">
                                <h2>Descrição</h2>
                                
                                <section id="moreContent" class="content"><br>
                                    <p>
                                        <%= product.descricao_prod %></p>
                                        
                                    <br></section>
                                <button id="toggleButton" class="btn-vermais">Ver mais</button>
                                <script>
                                    document.addEventListener("DOMContentLoaded", function () {
                                        var content = document.getElementById("moreContent");
                                        var button = document.getElementById("toggleButton");

                                        // Inicialmente o conteúdo está visível e o botão deve mostrar "Ver menos"
                                        content.classList.remove("collapsed");
                                        button.textContent = "Ver mais";
                                    });

                                    document.getElementById("toggleButton").addEventListener("click", function () {
                                        var content = document.getElementById("moreContent");
                                        var button = this;

                                        if (content.classList.contains("collapsed")) {
                                            content.classList.remove("collapsed");
                                            button.textContent = "Ver mais";
                                        } else {
                                            content.classList.add("collapsed");
                                            button.textContent = "Ver menos";
                                        }
                                    });
                                </script>
                            </section>
                            <!-- Botão para comprar/adicionar no carrinho -->
                            <a href="<%= product.link_prod %>" target="_blank"> <!-- Adiciona o link aqui -->
                                <section class="button">
                                    <section class="button-wrapper">
                                        <section class="text">Compre agora!</section>
                                        <span class="icon">
                                            <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                                                </path>
                                            </svg>
                                        </span>
                                    </section>
                                </section>
                            </a>
                            
                            <section class="button-fav">
                                <button onclick="mudarfav(this)" data-id="<%= product.id_prod %>" class="favoritar-button ">Adicionar aos favoritos <i class="bi bi-heart"></i></button>
                                <button onclick="mudarfav(this)" data-id="<%= product.id_prod %>" class="favoritar-button desativo"> Remover favorito <i class="bi bi-heart-fill"></i> </button>
                            </section>
                            
                        </section>
                    </section>
                </section>
            </section>

           

            <section class="center-text-prod">
                <h2>Você pode <span>Gostar</span></h2>
            </section>

            <section class="trending-products" id="trending">
                <section class="products">
                    
                </section>
            </section>

            

        </main>
        <%- include("../partial/footer") %>

        <script src="/js/script.js"></script>
        <script src="/js/mini-imgs.js"></script>
        <script src="/js/mobile-carousel.js"></script>
        <script src="/js/produto_index.js" defer></script>

        <script>
            
        function mudarfav(element){

            const activeElement = document.querySelector('.desativo');

            activeElement.classList.remove('desativo');

            // Adiciona a classe 'active' ao elemento clicado
            element.classList.add('desativo');

            activeElement.classList.add('animate');

            setTimeout(() => {
                activeElement.classList.remove('animate');
                
            }, 500); // 500ms é o tempo da animação
        }

            
            

            document.addEventListener("DOMContentLoaded", function() {
            const buttons = document.querySelectorAll(".favoritar-button");
            

            buttons.forEach(button => {
                button.addEventListener("click", async function() {
                    const productId = button.getAttribute("data-id");
                    try {
                        const response = await fetch(`/favoritarProd/${productId}`, {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        });

                        if (response.ok) {
                            const data = await response.json();

                            if (data.message === "Produto favoritado com sucesso!") {
                                // Produto favoritado com sucesso, altere a cor do ícone
                                button.classList.add("favoritado"); // Adiciona a classe 'favoritado'
                                console.log("Produto adicionado aos favoritos:", data);
                            } else {
                                console.error("Erro ao favoritar o produto:", data.message);
                            }
                        } else {
                            console.error("Erro ao adicionar aos favoritos:", response.statusText);
                        }
                    } catch (error) {
                        console.error("Erro na solicitação:", error);
                    }
                });
            });
        });


        </script>
            
</body>

</html>